/* CFD7C7  F6F1D1 0B2027 70A9A1 */


.login-container {
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
    
    padding: 8% 0 0;
    margin: auto;
    min-height: 80vh;
    width: 100%;
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
    
);
flex-direction: column;
align-items: center;
justify-content: center;    
}
.icecream-container {
    display: flex;
    background-image:  url('../assets/icecream.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height:360px;
    width: auto;
    justify-content: center;
    align-items: center; 
}



input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 80%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

button {
    color: #F6F1D1;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #0B2027;
    width: 100%;
    border: 0;
    padding: 15px;
}

button:hover, button:active, button:focus {
    background: #70A9A1;
  }

/* //   @function random_range($min, $max) {
//     $rand: random();
//     $random_range: $min + floor($rand * (($max - $min) + 1));
//     @return $random_range;
//   }
  
//   .snow {
//     $total: 200;
//     position: absolute;
//     width: 10px;
//     height: 10px;
//     background: white;
//     border-radius: 50%;
  
//     @for $i from 1 through $total {
//       $random-x: random(1000000) * 0.0001vw;
//       $random-offset: random_range(-100000, 100000) * 0.0001vw;
//       $random-x-end: $random-x + $random-offset;
//       $random-x-end-yoyo: $random-x + ($random-offset / 2);
//       $random-yoyo-time: random_range(30000, 80000) / 100000;
//       $random-yoyo-y: $random-yoyo-time * 100vh;
//       $random-scale: random(10000) * 0.0001;
//       $fall-duration: random_range(10, 30) * 1s;
//       $fall-delay: random(30) * -1s;
  
//       &:nth-child(#{$i}) {
//         opacity: random(10000) * 0.0001;
//         transform: translate($random-x, -10px) scale($random-scale);
//         animation: fall-#{$i} $fall-duration $fall-delay linear infinite;
//       }
  
//       @keyframes fall-#{$i} {
//         #{percentage($random-yoyo-time)} {
//           transform: translate($random-x-end, $random-yoyo-y) scale($random-scale);
//         }
  
//         to {
//           transform: translate($random-x-end-yoyo, 100vh) scale($random-scale);
//         }
//       }
//     }
//   } */
  